extends ../../layouts/admin

block content
    .container
        h1 Editar partido

        form(action="/admin/matches/"+match._id+"?_method=PUT" method="post")
            .card
                .card-header
                    | General
                .card-body
                    .form-group.row
                        label.col-form-label.col-sm-2(for="year") Año
                        input.form-control.col-sm-10(type="text" name="year" value=match.year)
                    .form-group.row
                        label.col-form-label.col-sm-2(for="order") Orden
                        input.form-control.col-sm-10(type="text" name="order" value=match.order)
                    .form-group.row
                        label.col-form-label.col-sm-2(for="place") Estadio y fecha
                        input.form-control.col-sm-10(type="text" name="place" value=match.place)

                .card-header
                    | Local
                .card-body
                    .form-group.row
                        label.col-form-label.col-sm-2(for="homeClub") Club
                        select(name="homeClub")
                            option(value=match.homeClub._id) #{match.homeClub.name}
                            each club in clubs
                                option(value=club._id) #{club.name}

                    .form-group.row
                        label.col-form-label.col-sm-2(for="homeScore") Marcador
                        input.form-control.col-sm-10(type="text" name="homeScore" value=match.homeScore)

                    .form-group.row
                        label.col-form-label.col-sm-2(for="homeScorer") Goleadores (a,b)
                        input.form-control.col-sm-10(type="text" name="homeScorer" value=match.homeScorer.join())


                .card-header
                    | Visitante
                .card-body
                    .form-group.row
                        label.col-form-label.col-sm-2(for="awayClub") Club
                        select(name="awayClub")
                            option(value=match.awayClub._id) #{match.awayClub.name}
                            each club in clubs
                                option(value=club._id) #{club.name}

                    .form-group.row
                        label.col-form-label.col-sm-2(for="awayScore") Marcador
                        input.form-control.col-sm-10(type="text" name="awayScore" value=match.awayScore)

                    .form-group.row
                        label.col-form-label.col-sm-2(for="awayScorer") Goleadores (a,b)
                        input.form-control.col-sm-10(type="text" name="awayScorer" value=match.awayScorer.join())

            button.btn-btn-primary(type="submit") Guardar
