extends ../../layouts/admin

block content
    .container
        h1 Editar edici칩n

        form(action="/admin/editions/"+edition._id+"?_method=PUT" method="post" enctype="multipart/form-data")
            .form-group.row
                label.col-form-label.col-sm-2(for="year") A침o
                input.form-control.col-sm-10(type="text" name="year" value=edition.year)

            .form-group.row
                label.col-form-label.col-sm-2(for="champion") Campe칩n
                select(name="champion")
                    option(value=edition.champion._id) #{edition.champion.name}
                    each club in clubs
                        option(value=club._id) #{club.name}

            .form-group.row
                label.col-form-label.col-sm-2(for="final") Final/es
                -var isFinal=null
                -var finalsId = edition.final.map(x => x._id)

                select(name="final" multiple)
                    each match in matches
                        if finalsId.includes(match._id)
                            -isFinal='selected'
                        else
                            -isFinal=null

                        option(value=match._id selected=isFinal) A침o #{match.year}, Orden #{match.order}

            .form-group.row
                label.col-form-label.col-sm-2(for="cover") Portada
                img.img-fluid(src=edition.cover, alt="cover-"+edition.year)
                input.form-control.col-sm-10(type="file" name="cover")

            .form-group.row
                label.col-form-label.col-sm-2(for="squad") Plantel
                img.img-fluid(src=edition.squad, alt="squad-"+edition.year)
                input.form-control.col-sm-10(type="file" name="squad")

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerName") Goleador
                input.form-control.col-sm-10(type="text" name="topScorerName" value=edition.topScorerName)

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerGoals") Goleador - cantidad
                input.form-control.col-sm-10(type="text" name="topScorerGoals" value=edition.topScorerGoals)

            button.btn.btn-primary(type='submit') Guardar