extends ../../layouts/admin

block content
    .container
        h1 Editar edición

        form(action="/admin/editions/"+edition._id+"?_method=PUT" method="post" enctype="multipart/form-data")
            .form-group.row
                label.col-form-label.col-sm-2(for="year") Año
                input.form-control.col-sm-10(type="text" name="year" value=edition.year)

            .form-group.row
                label.col-form-label.col-sm-2(for="champion") Campeón
                select(name="champion")
                    option(value=edition.champion._id) #{edition.champion.name}
                    each club in clubs
                        option(value=club._id) #{club.name}

            .form-group.row
                label.col-form-label.col-sm-2(for="final") Final/es
                -var isFinal=null
                -var finalsId = edition.final.map(x => x._id)

                select(name="final" multiple)
                    each match in matches
                        if finalsId.includes(match._id)
                            -isFinal='selected'
                        else
                            -isFinal=null

                        option(value=match._id selected=isFinal) Año #{match.year}, Orden #{match.order}

            .form-group.row
                label.col-form-label.col-sm-2(for="cover") Portada
                img.img-fluid(src=edition.cover, alt="cover-"+edition.year)
                input.form-control.col-sm-10(type="file" name="cover")

            .form-group.row
                label.col-form-label.col-sm-2(for="squad") Plantel
                img.img-fluid(src=edition.squad, alt="squad-"+edition.year)
                input.form-control.col-sm-10(type="file" name="squad")

            .form-group.row
                label.col-form-label.col-sm-2(for="video") Video
                iframe(width="560" height="315" src=edition.video frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                input.form-control.col-sm-10(type="text" name="video" value=edition.video)

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerName") Goleador - nombre
                input.form-control.col-sm-10(type="text" name="topScorerName" value=edition.topScorerName)

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerNationality") Goleador - nacionalidad
                select(name="topScorerNationality")
                    option(value=edition.topScorerNationality) #{edition.topScorerNationality}
                    each country in countries
                        option(value=country) #{country}

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerClub") Goleador - club
                input.form-control.col-sm-10(type="text" name="topScorerClub" value=edition.topScorerClub)

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerCountryClub") Goleador - país del club
                select(name="topScorerCountryClub")
                    option(value=edition.topScorerCountryClub) #{edition.topScorerCountryClub}
                    each country in countries
                        option(value=country) #{country}

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerGoals") Goleador - cantidad
                input.form-control.col-sm-10(type="text" name="topScorerGoals" value=edition.topScorerGoals)

            button.btn.btn-primary(type='submit') Guardar