extends layouts/main

block customHeadScripts
    link(rel="stylesheet" href="/css/editions.css")

block content
    .container
        .row
            .col-12.text-center
                h1 Campeón Copa Libertadores #{edition.year}

        .row
            .col-12.text-center
                img.img-fluid.rounded#squad(src=edition.squad alt=edition.champion.name+"-squad")

        .row
            .col-12#final-title
                h3 Final

        .row
            .col-12.col-md-3#container-champion
                h5 Campeón #{edition.year}
                img.img-fluid#copa(src="/images/copa-libertadores.png")
                img.img-fluid(src=edition.champion.shield alt=edition.champion.name)
                h5#champion-name #{edition.champion.name}
                div
                    img(src="/images/flags/"+edition.champion.country+".png", alt=edition.champion.country)
                    h6#country-name (#{edition.champion.country}) 

            .col-12.col-md-7.offset-md-1#container-finals
                each match in edition.final
                    #match-date
                        p #{match.place}

                    //- escudo
                    .row
                        .col-5.d-flex.align-items-center
                            img.img-fluid(src=match.homeClub.shield, alt=match.homeClub.name)
                            p.club-name.p-2 #{match.homeClub.name}

                        #score.col-2.d-flex.align-items-center.justify-content-center
                            p #{match.awayScore} - #{match.homeScore}

                        .col-5.d-flex.align-items-center.justify-content-end
                            p.club-name.p-2 #{match.awayClub.name}
                            img.img-fluid(src=match.awayClub.shield, alt=match.awayClub.name)

                    //- pais
                    .row#country-name
                        .col-6.d-flex.justify-content-start
                            -var countryHome = match.homeClub.country.slice(0,3).toUpperCase()
                            p (#{countryHome})
                        .col-6.d-flex.justify-content-end
                            -var awayCountry = match.awayClub.country.slice(0,3).toUpperCase()
                            p (#{awayCountry})

                    //- goles
                    .row
                        .col-6
                            ul
                                each goal in match.homeScorer
                                    li #{goal}
                        .col-6
                            ul
                                each goal in match.awayScorer
                                    li #{goal}

                    //- comentario adicional
                    .row
                        .col-12
                            span #{match.comment}


        .row
            .col-12
                p Goleador
                p #{edition.topScorerName}
                p #{edition.topScorerGoals}

        .row
            .col-12
                .iframe-container
                    iframe.responsive-iframe(width="56" height="315" src=edition.video frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)