extends layouts/main

block customHeadScripts
    link(rel="stylesheet" href="/css/editions.css")

block content
    .container
        .row
            .col-12.text-center
                h1 Campeón Copa Libertadores #{edition.year}
        .row
            .col-12
                p #{edition.champion.name}
                img.img-responsive(src=edition.champion.shield alt=edition.champion.name)
                p #{edition.champion.country} 
                img(src="/images/flags/"+edition.champion.country+".png", alt=edition.champion.country)
        .row
            .col-12.text-center
                img.img-responsive(src=edition.squad alt=edition.champion.name+"-squad")

        .row
            .col-12
                h3 Final
        .row
            .col-12
                each match in edition.final
                    p #{match.place}
                    .col-6
                        img.img-responsive(src=match.homeClub.shield, alt=match.homeClub.name)
                        p #{match.homeClub.name}
                        -
                            var countryHome = match.homeClub.country.slice(0,3).toUpperCase()
                        p (#{countryHome})
                        p #{match.homeScore}
                        ul
                            each goal in match.homeScorer
                                li #{goal}

                    .col-6
                        img.img-responsive(src=match.awayClub.shield, alt=match.awayClub.name)
                        p #{match.awayClub.name}
                        -
                            var awayCountry = match.awayClub.country.slice(0,3).toUpperCase()
                        p (#{awayCountry})
                        p #{match.awayScore}
                        ul
                            each goal in match.awayScorer
                                li #{goal}
                    .row
                        .col-12
                            span #{match.comment}
                    hr

        .row
            .col-12
                p Goleador
                p #{edition.topScorerName}
                p #{edition.topScorerGoals}

        .row
            .col-12
                iframe(width="560" height="315" src=edition.video frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)