extends ../../layouts/admin

block content
    .container
        h1 Crear edición

        form(action="/admin/editions" method="post" enctype="multipart/form-data")
            .form-group.row
                label.col-form-label.col-sm-2(for="year") Año
                input.form-control.col-sm-10(type="text" name="year")

            .form-group.row
                label.col-form-label.col-sm-2(for="champion") Campeón
                select(name="champion")
                    option(value="") Campeón
                    each club in clubs
                        option(value=club._id) #{club.name}

            .form-group.row
                label.col-form-label.col-sm-2(for="final") Final/es
                select(name="final" multiple)
                    each match in matches
                        option(value=match._id) Año #{match.year}, Orden #{match.order}

            .form-group.row
                label.col-form-label.col-sm-2(for="cover") Portada
                input.form-control.col-sm-10(type="file" name="cover")

            .form-group.row
                label.col-form-label.col-sm-2(for="squad") Plantel
                input.form-control.col-sm-10(type="file" name="squad")

            .form-group.row
                label.col-form-label.col-sm-2(for="video") Video
                input.form-control.col-sm-10(type="text" name="video")

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerName") Goleador - nombre
                input.form-control.col-sm-10(type="text" name="topScorerName")

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerNationality") Goleador - nacionalidad
                select(name="topScorerNationality")
                    option(value="") Seleccionar
                    each country in countries
                        option(value=country) #{country}

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerClub") Goleador - club
                input.form-control.col-sm-10(type="text" name="topScorerClub")

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerCountryClub") Goleador - país del club
                select(name="topScorerCountryClub")
                    option(value="") Seleccionar
                    each country in countries
                        option(value=country) #{country}

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerGoals") Goleador - cantidad
                input.form-control.col-sm-10(type="text" name="topScorerGoals")

            button.btn.btn-primary(type='submit') Crear